@use './hospital/hospital';
@import "partials/statusBar";
@import "partials/tabs";
@import "partials/buttons";
@import "partials/moveset";

$Twine-Blue: #3355aa;

.flex-container {
    flex-direction: row;
    display: flex;
}

.script {
    visibility: hidden;
}

table,
th,
td {
    border: 1px solid white;
}

table,
td>button {
    width: 100%;
}

/*
td>button {
    height: 100%;
}
*/

#story-caption {
    text-align: left;
}

.text-fade-in {
    animation: fadeIn 1s;
    -webkit-animation: fadeIn 1s;
    -moz-animation: fadeIn 1s;
    -o-animation: fadeIn 1s;
    -ms-animation: fadeIn 1s;
}

ul.no-bullets {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-moz-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-o-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-ms-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

img#logoImage {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.logo {
    width: auto;
    text-align: center;
}

#story-title {
    display: none;
}

.CombatContainer {
    padding: 5px;
    flex: 1;
    display: flex;
    flex-direction: column;
}

#EnemyContainer {
    text-align: right;
}

#EnemyCombatLog {
    direction: rtl;
}

.CombatLog {
    border-radius: 7px;
    padding: 5px;
    border: solid;
    height: 400px;
    overflow: hidden;
}

/* On Hover */
.CombatLog:hover {
    overflow-y: scroll;
}

.CombatActionContainer {
    padding: 1px;
    float: left;
    width: 32%;
    /* border: solid; */
    height: 100px;
}

.CombatActionHeader {
    justify-content: center;
    display: flex;
    font-size: x-large;
}

#LeaveContainer {
    display: block;
    text-align: center;
    padding-top: 35px;
}

.lootText {
    display: block;
    text-align: center;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.ui-widget-overlay {
    background: #000000;
    opacity: 0.5;
}

.ui-widget {
	font-family: Arial,Helvetica,sans-serif;
	font-size: 1em;
}
.ui-widget .ui-widget {
	font-size: 1em;
}
.ui-widget input,
.ui-widget select,
.ui-widget textarea,
.ui-widget button {
	font-family: Arial,Helvetica,sans-serif;
	font-size: 1em;
}
.ui-widget.ui-widget-content {
	border: 1px solid #2c2b2b;
}
.ui-widget-content {
	border: 1px solid #4e4c4c;
	background: #2c2b2b;
	color: #fff;
}
.ui-menu {
    border: 1px solid #4e4c4c!important
}
.ui-menu-item {
    background: #4e4c4c;
}
.ui-widget-content a {
	color: #fff;
}
.ui-widget-header {
	border: 1px solid #2c2b2b;
	background: #4e4c4c;
	color: #fff;
	font-weight: bold;
}
.ui-widget-header a {
	color: #fff;
}

.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default,
.ui-button,
html .ui-button.ui-state-disabled:hover,
html .ui-button.ui-state-disabled:active {
	border: 1px solid #2c2b2b;
	background: #4e4c4c;
	font-weight: normal;
	color: #fff;
}
.ui-state-default a,
.ui-state-default a:link,
.ui-state-default a:visited,
a.ui-button,
a:link.ui-button,
a:visited.ui-button,
.ui-button {
	color: #fff;
	text-decoration: none;
}
.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus,
.ui-button:hover,
.ui-button:focus {
	border: 1px solid #4e4c4c;;
	background: #2c2b2b;
	font-weight: normal;
	color: #fff;
}
.ui-state-hover a,
.ui-state-hover a:hover,
.ui-state-hover a:link,
.ui-state-hover a:visited,
.ui-state-focus a,
.ui-state-focus a:hover,
.ui-state-focus a:link,
.ui-state-focus a:visited,
a.ui-button:hover,
a.ui-button:focus {
	color: #fff;
	text-decoration: none;
}

.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active,
a.ui-button:active,
.ui-button:active,
.ui-button.ui-state-active:hover {
	border: 1px solid #2c2b2b;
	background: #2c2b2b;
	font-weight: normal;
	color: #ffffff;
}
.ui-icon-background,
.ui-state-active .ui-icon-background {
	border: #2c2b2b;
	background-color: #ffffff;
}
.ui-state-active a,
.ui-state-active a:link,
.ui-state-active a:visited {
	color: #ffffff;
	text-decoration: none;
}

.creditWrapper {
    $this: &;
    width: 150px;
    height: 150px;
    position: relative;
    float:left;
    margin: 0.5em;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;    
    &:hover {
        cursor: pointer;
    }
    &:hover .creditOverlay {
        animation: fadeIn 0.5s;
        visibility: visible;
    }
}

.creditOverlay {
    width: 151px;
    height: 151px;
    background: #4e4c4cb9;
    visibility: hidden;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}

.creditImg {
    max-width: 150px;
    max-height: 150px;
}

.dataEditorTable {
    tr:hover.dataRow {
        .dataCell {
            cursor: pointer;
            background-color: #333;
        }
    }
}

/*SETTINGS SCREEN*/
// Give the info button a little splash of color
i.info{
    font-size: 2.2em;
    color: #FFF;
}

i.info-letter{
    font-size: 1.5em;
}

i.info-back{
    color: $Twine-Blue;
}

table, tr, td, th{
    border: none;
    vertical-align: middle;
}

th
{
    background-color: $Twine-Blue;
    padding-left: 0.4em;
    padding-bottom: 0.2em;
}

td.settings-name,
table.Stat-table td
{
    min-width: 20%;
}

td.settings-value input, 
td.settings-value select
{
    min-width: 50%;
}


//Make the selects a bit more noticeable
input, select, textarea {
    color: #eee;
    background-color: #595858;
    border: 3px solid #444;
    border-radius: 5px;
}

//Moved from JS script add
.combat-message{
    left: 5%;
    display: flex;
    position: absolute;
    border: 1px solid;
    border-radius: 3px;
    width: 90%;
    justify-content: center;
    text-align: center;
    z-index: -1;
    font-size: 1.5em;
}

.combat-message-top{
    top: calc(100% - 1px)
}

.combat-message-bottom{
    bottom: calc(100% - 1px)
}


@keyframes BlinkingAlert {
    from {
        color: rgba(255, 255, 0, 0);
    }

    to{
        color: rgb(255, 255, 0);
    }
}
.consume-alert{
    float: right;
    color: yellow;
    margin-left: -1em;
    animation: BlinkingAlert 1s alternate ease-in-out infinite;
}


.combat-results{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin-left: 5%;
    flex-wrap: wrap;
    
}

.combat-results > div{
    min-width: 40%;
}

.full-width{
    width: 100%;
}

.half-width{
    max-width: 50%;
}

.clear-both{
    clear:both;
}

.trans-exchange{
    justify-content: space-evenly;
}

//Icons are from Material design icons https://pictogrammers.com/library/mdi/
.inline-icon{
    height: 1.5em;
    width: 1.5em;
    fill: white;
    background: none;
}

//Allows for an icon to be place on top of something if it's in an enclosing DIV, apply to icon itself
.inline-icon-overlay{
    position: relative;
    top: 0.5em;
    left: 0.5em;
}

.travel-link{
    max-width: 50%;
}

.travel-link a, 
.travel-link button,
#menu-core li{
    display: block;
    background: $Twine-Blue;
    padding: .4em;
    border: 1px solid #57c;
    color: white;
    text-align: center;
}

.travel-link button span{
    margin-top: 0.25em;
    display: block;
    padding-left: 2em;
}

.travel-link a:hover, 
.travel-link button:hover,
#menu-core li:hover,
#menu li a:hover{
    background-color: #57c;
    border-color: #79e;
}

#menu li a:hover{
    border:none;
}

.travel-link svg{
    float: left;
}