@use "partials/variables" as var;
@use "partials/jqueryUI";
@use './hospital/hospital';
@use "partials/statusBar";
@use "partials/tabs";
@use "partials/buttons";
@use "partials/moveset";
@use "partials/combat";
@use "partials/grids";
//@use "partials/themes/default";
@use "partials/themes/brownGreen";

input[type="text"]{
    min-width: unset;
}

.flex-container {
    flex-direction: row;
    display: flex;
}

.script {
    visibility: hidden;
}

table,
th,
td {
    border: 1px solid;
}

table,
td>button {
    width: 100%;
}

#story-caption {
    text-align: left;
}


//Claw back every single inch from Twine and make the layout as compact as possible on mobile
@media screen and (max-width: var.$mobile) {
    #story{
        margin-right: 0.5em;
        margin-left: 0.5em;
    }

    #ui-bar.stowed ~ #story {
        margin-left: 0.5em
    }
    
    #ui-bar.stowed{
        margin-left: -1.5em;
        border: none;
        background: none;
    }
    
    #ui-bar-toggle {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 90000;
    }
}

.text-fade-in {
    animation: fadeIn 1s;
    -webkit-animation: fadeIn 1s;
    -moz-animation: fadeIn 1s;
    -o-animation: fadeIn 1s;
    -ms-animation: fadeIn 1s;
}

.blinking {
    animation: fadeIn 1s alternate ease-in-out infinite;
}

ul.no-bullets {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-moz-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-o-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-ms-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

img#logoImage {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.logo {
    width: auto;
    text-align: center;
}

#story-title {
    display: none;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.creditWrapper {
    $this: &;
    width: 150px;
    height: 150px;
    width: 150px;
    height: 150px;
    position: relative;
    float:left;
    margin: 0.5em;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;    
    float:left;
    margin: 0.5em;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;    
    &:hover {
        cursor: pointer;
    }
    &:hover .creditOverlay {
        animation: fadeIn 0.5s;
        visibility: visible;
    }
}

.creditOverlay {
    width: 151px;
    height: 151px;
    background: #4e4c4cb9;
    visibility: hidden;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.creditImg {
    max-width: 150px;
    max-height: 150px;
}

.dataEditorTable {
    tr:hover.dataRow {
        .dataCell {
            cursor: pointer;
            background-color: #333;
        }
    }
}

/*SETTINGS SCREEN*/
// Give the info button a little splash of color
i.info{
    font-size: 2.2em;
}

i.info-letter{
    font-size: 1.5em;
}


table, tr, td, th{
    border: none;
    vertical-align: middle;
}

th
{
    padding-left: 0.4em;
    padding-bottom: 0.2em;
    font-weight: 600;
}


td.settings-name,
table.Stat-table td
{
    min-width: 20%;
}

td.settings-value input, 
td.settings-value select
{
    min-width: 50%;
}


//Make the selects a bit more noticeable
input, select, textarea {
    border: 2px solid ;
    border-radius: 5px;
}

.full-width{
    width: 100%;
}

.half-width{
    max-width: 50%;
}

.clear-both{
    clear:both;
}

.trans-exchange{
    justify-content: space-evenly;
}

.inline-icon{
    height: 1.5em;
    width: 1.5em;
    background: none;
}

//Allows for an icon to be place on top of something if it's in an enclosing DIV, apply to icon itself
.inline-icon-overlay{
    position: relative;
    top: 0.5em;
    left: 0.5em;
}

.button-menu{
    max-width: 50%;

    @media screen and (max-width: var.$tablet) {
        max-width: 100%;
    }
}

.button-menu.full-width button{
    width: 100%;
}

.button-menu a, 
.button-menu button,
#menu-core li,
.button-menu.full-width button
{
    display: block;
    padding: .4em;
    border: 1px solid ;
    text-align: center;
    line-height: unset;
}

.button-menu a:hover{
    text-decoration: none;
}

.button-menu button span{
    margin-top: 0.25em;
    display: block;
    padding-left: 2em;
}

#menu li a:hover{
    border:none;
}

.button-menu svg{
    float: left;
}

.system-message{
    padding: 1em;
}

.disable-popup-checkbox input {
    margin-right: 0.5rem;
    margin-left: 0.5rem;
  }

  .button-delete{
    background-color: red; 
    border-color: red;
  }

  #delete-column{
    width: 35px;
  }

  .red-text{
    color: #F00;
  }

  .twine-editor{
    padding: 5px;
    border: solid 2px;
    border-radius: 5px;
}

#preview{
    padding: 5px;
    border: solid 2px;
    border-radius: 5px;
}


.genital-container{
    display: flex;
    flex-direction: column;
}

.moveset-equipped, .moveset-available, .moveset-equipped-count{
    font-size: 2em;
}

.moveset-equipped-count{
    padding-left: 0.5em;
}

.moveset-available{
    border-bottom: 2px dotted white;
    cursor: help; 
}