@use './hospital/hospital';
@import "partials/statusBar";
@import "partials/tabs";
@import "partials/buttons";
@import "partials/moveset";
@import "partials/combat";
@import "partials/themes/default";
@import "partials/themes/brownGreen";

.flex-container {
    flex-direction: row;
    display: flex;
}

.script {
    visibility: hidden;
}

table,
th,
td {
    border: 1px solid;
}

table,
td>button {
    width: 100%;
}

#story-caption {
    text-align: left;
}

.text-fade-in {
    animation: fadeIn 1s;
    -webkit-animation: fadeIn 1s;
    -moz-animation: fadeIn 1s;
    -o-animation: fadeIn 1s;
    -ms-animation: fadeIn 1s;
}

ul.no-bullets {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-moz-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-o-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-ms-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

img#logoImage {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.logo {
    width: auto;
    text-align: center;
}

#story-title {
    display: none;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.ui-widget-overlay {
    background: #000000;
    opacity: 0.5;
}

.ui-widget {
	font-family: Arial,Helvetica,sans-serif;
	font-size: 1em;
}
.ui-widget .ui-widget {
	font-size: 1em;
}
.ui-widget input,
.ui-widget select,
.ui-widget textarea,
.ui-widget button {
	font-family: Arial,Helvetica,sans-serif;
	font-size: 1em;
}
.ui-widget.ui-widget-content {
	border: 1px solid #2c2b2b;
}
.ui-widget-content {
	border: 1px solid #4e4c4c;
	background: #2c2b2b;
}
.ui-menu {
    border: 1px solid #4e4c4c!important
}
.ui-menu-item {
    background: #4e4c4c;
}
.ui-widget-header {
	border: 1px solid #2c2b2b;
	background: #4e4c4c;
	font-weight: bold;
}

.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default,
.ui-button,
html .ui-button.ui-state-disabled:hover,
html .ui-button.ui-state-disabled:active {
	border: 1px solid #2c2b2b;
	background: #4e4c4c;
	font-weight: normal;
}
.ui-state-default a,
.ui-state-default a:link,
.ui-state-default a:visited,
a.ui-button,
a:link.ui-button,
a:visited.ui-button,
.ui-button {
	text-decoration: none;
}
.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus,
.ui-button:hover,
.ui-button:focus {
	border: 1px solid #4e4c4c;;
	background: #2c2b2b;
	font-weight: normal;
}
.ui-state-hover a,
.ui-state-hover a:hover,
.ui-state-hover a:link,
.ui-state-hover a:visited,
.ui-state-focus a,
.ui-state-focus a:hover,
.ui-state-focus a:link,
.ui-state-focus a:visited,
a.ui-button:hover,
a.ui-button:focus {
	text-decoration: none;
}

.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active,
a.ui-button:active,
.ui-button:active,
.ui-button.ui-state-active:hover {
	border: 1px solid #2c2b2b;
	background: #2c2b2b;
	font-weight: normal;
}
.ui-icon-background,
.ui-state-active .ui-icon-background {
	border: #2c2b2b;
	background-color: #ffffff;
}
.ui-state-active a,
.ui-state-active a:link,
.ui-state-active a:visited {
	text-decoration: none;
}

.creditWrapper {
    $this: &;
    width: 150px;
    height: 150px;
    width: 150px;
    height: 150px;
    position: relative;
    float:left;
    margin: 0.5em;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;    
    float:left;
    margin: 0.5em;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;    
    &:hover {
        cursor: pointer;
    }
    &:hover .creditOverlay {
        animation: fadeIn 0.5s;
        visibility: visible;
    }
}

.creditOverlay {
    width: 151px;
    height: 151px;
    background: #4e4c4cb9;
    visibility: hidden;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.creditImg {
    max-width: 150px;
    max-height: 150px;
}

.dataEditorTable {
    tr:hover.dataRow {
        .dataCell {
            cursor: pointer;
            background-color: #333;
        }
    }
}

/*SETTINGS SCREEN*/
// Give the info button a little splash of color
i.info{
    font-size: 2.2em;
}

i.info-letter{
    font-size: 1.5em;
}


table, tr, td, th{
    border: none;
    vertical-align: middle;
}

th, .grid-header
{
    padding-left: 0.4em;
    padding-bottom: 0.2em;
    font-weight: 600;
}

.settings-grid{
    display:grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: auto;

    select, input{
        width: 100%;
    }

    .grid-header{
        grid-column-start: 1;
        grid-column-end: 3;    
        margin-top: 1em;
    }
}

.stats-grid, .money-grid{
    display: grid;
    grid-template-columns: 30% 50% 20%;
    grid-template-rows: auto;

    .grid-header{
        grid-column-start:1;
        grid-column-end: 4;
    }
}

.exp-grid{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;

    .grid-header{
        grid-column-start:1;
        grid-column-end: 3;
    }
}

td.settings-name,
table.Stat-table td
{
    min-width: 20%;
}

td.settings-value input, 
td.settings-value select
{
    min-width: 50%;
}


//Make the selects a bit more noticeable
input, select, textarea {
    border: 2px solid ;
    border-radius: 5px;
}

.full-width{
    width: 100%;
}

.half-width{
    max-width: 50%;
}

.clear-both{
    clear:both;
}

.trans-exchange{
    justify-content: space-evenly;
}

.inline-icon{
    height: 1.5em;
    width: 1.5em;
    background: none;
}

//Allows for an icon to be place on top of something if it's in an enclosing DIV, apply to icon itself
.inline-icon-overlay{
    position: relative;
    top: 0.5em;
    left: 0.5em;
}

.button-menu{
    max-width: 50%;
}

.button-menu.full-width button{
    width: 100%;
}

.button-menu a, 
.button-menu button,
#menu-core li,
.button-menu.full-width button
{
    display: block;
    padding: .4em;
    border: 1px solid ;
    text-align: center;
    line-height: unset;
}

.button-menu a:hover{
    text-decoration: none;
}

.button-menu button span{
    margin-top: 0.25em;
    display: block;
    padding-left: 2em;
}

#menu li a:hover{
    border:none;
}

.button-menu svg{
    float: left;
}

.system-message{
    padding: 1em;
}

.disable-popup-checkbox input {
    margin-right: 0.5rem;
    margin-left: 0.5rem;
  }

  .button-delete{
    background-color: red; 
    border-color: red;
  }

  #delete-column{
    width: 35px;
  }

  .red-text{
    color: #F00;
  }

  .twine-editor{
    padding: 5px;
    border: solid 2px;
    border-radius: 5px;
}

#preview{
    padding: 5px;
    border: solid 2px;
    border-radius: 5px;
}

.skills-grid{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;

    .grid-header{
        grid-column-start:1;
        grid-column-end: 3;
    }
}

.genital-container{
    display: flex;
    flex-direction: column;
}

.moveset-equipped, .moveset-available, .moveset-equipped-count{
    font-size: 2em;
}

.moveset-equipped-count{
    padding-left: 0.5em;
}

.moveset-available{
    border-bottom: 2px dotted white;
    cursor: help; 
}

#ui-bar .exp-grid .grid-header, #ui-bar .stats-grid .grid-header{
    cursor: pointer;
}