@use "../partials/_variables.scss" as var;
.trans {
    display: flex;

    @media screen and (max-width: var.$mobile) {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &-container {
        @extend .trans;
        flex-direction: column;
        flex: 1;
        align-items: center;
    }

    &-controls {
        @extend .trans;
        flex-direction: column;
        width: 100px;

        &>button, select{
            margin: 5px 0px;
        }
    }

    &-exchange {
        @extend .trans;
        flex: 2;
        align-items: center;
        justify-content: center;

        &-side {
            @extend .trans;
            flex-direction: column;
            align-items: center;
        }

        &>div, button {
            display: flex;
            flex: 1;
            justify-content: center;
            margin: 0px 10px;
        }
    }
}

.trans-exchange{
    justify-content: space-evenly;
}

.transference-grid{
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: auto;

    .grid-header{
        grid-column-start: 1;
        grid-column-end: 4;
    }

    @media screen and (max-width: var.$tablet) {
        grid-template-columns: 1fr;

        .grid-header{
            grid-column-start: 1;
            grid-column-end: 1;
        }
    }
}

.trans-exchange{
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    grid-template-rows: auto;
    gap: 1em;

    button{
        max-height: 2em;
    }
    

    @media screen and (max-width: var.$tablet) {
        grid-template-columns: 1fr;
    }
}

.trans-exchange-side{
    gap: 0;
}