%currentStatusBar-shared {
    height: 100%;
    transition: all 1s;
}

.statusBar {
    width: 210px;
    height: 25px;
    background: transparent;
    text-align: center;
    border-radius: 5px;
    border: white;
    border-style: solid;
    border-width: 1px; 
    overflow: hidden;
    position: relative;
}

.currentHealthBar, .currentVisCapBar {
    @extend %currentStatusBar-shared;
    background: red;
}

.currentNotVisCapBar {
    @extend %currentStatusBar-shared;
    background-color: green;
}

.currentStatusText {
    position:relative;
    top: -45%;
    transform: translateY(-50%);
    font-weight: bold;
}