@use "partials/variables" as var;
$Main-Color: #D7F171;
$Background-Color: #65524D;
$Background-Color-Dark: #3e3331;
$Background-Color-Dark-transparent: #3e3331bf;
$Accent-Color: #afc948;
$Dark-Text: #000;
$Light-Text: #FFF;
$Warning-color: rgb(255, 125, 0);
$Shadow-size: 5px;

//SASS sadly does NOT pick up on the color variables within CSS formatted backgrounds
//Made with https://10015.io/tools/css-background-pattern-generator
body{
    background-color: $Background-Color;
    background: 
        linear-gradient(135deg,#0000 20.5%,#65524d 0 29.5%,#0000 0) 0 32.5px, 
        linear-gradient( 45deg,#0000 8%,#65524d 0 17%, #0000 0 58%) 65px 0, 
        linear-gradient(135deg,#0000 8%,#65524d 0 17%, #0000 0 58%,#65524d 0 67%,#0000 0), 
        linear-gradient( 45deg,#0000 8%,#65524d 0 17%, #0000 0 58%,#65524d 0 67%,#0000 0 83%,#65524d 0 92%,#0000 0), 
        #3e3331;
    background-size: auto, auto, auto, auto, auto;
  background-size: 130px 130px;
}

#passages {
	background: #000A;
	padding: 2rem;   
    
    @media screen and (max-width: var.$tablet) {
        padding: 1rem
    }
}

#passages, .system-message{
    border: 5px $Light-Text solid;
}

.system-message, #ui-bar{
    background: $Background-Color-Dark-transparent;
}

@media screen and (max-width: var.$tablet) {
    #ui-bar{
        background: $Background-Color-Dark
    }    
}

#menu li a, i.info, .button-menu svg{
    color: $Dark-Text;
    fill: $Dark-Text;
}

.light-text,
.portlet-body-content .portlet-body-header,
.ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited, .ui-state-active, .ui-state-default a:link, .ui-state-default a:visited, .ui-state-default, .ui-state-focus a, .ui-state-focus a:hover, .ui-state-focus a:link, .ui-state-focus a:visited, .ui-state-focus,
.ui-state-hover a, .ui-state-hover a:hover, .ui-state-hover a:link, .ui-state-hover a:visited, .ui-state-hover, .ui-widget-content .ui-state-active,
.ui-widget-content .ui-state-default, .ui-widget-content .ui-state-focus, .ui-widget-content .ui-state-hover, .ui-widget-content a, .ui-widget-content,
.ui-widget-header .ui-state-active, .ui-widget-header .ui-state-default, .ui-widget-header .ui-state-focus, .ui-widget-header .ui-state-hover, .ui-widget-header a, .ui-widget-header,
.ui-state-default a, .sidebar-icon, .ui-selectmenu-text
{
    color: $Light-Text;
    fill: $Light-Text;
}


.trans, .attribute-wrapper, .battle-message, #ui-bar-history [id|="history"], #ui-bar-toggle{
    background: $Background-Color-Dark-transparent;
}

.passage table,
.settings-grid,
.passage .stats-grid,
.passage .exp-grid,
.learned-skills-grid{
    background-color: $Background-Color-Dark-transparent;
    color: $Light-Text;
}

button,
.button-menu a, 
.button-menu button,
#menu-core li,
.button-menu.full-width button,
button, #restart-ok, #restart-cancel, #ui-dialog-title,
#saves-save-0, #saves-save-1, #saves-save-2, #saves-save-3, #saves-save-4, #saves-save-5, #saves-save-6, #saves-save-7, #saves-export, #saves-import,
.attribute-base .header, .ui-button, .ui-button:focus
{
    background-color: $Main-Color;
    color: $Dark-Text;
    border-color: $Accent-Color;
    filter: drop-shadow($Shadow-size $Shadow-size);
}

#saves-save-0:hover, #saves-save-1:hover, #saves-save-2:hover, #saves-save-3:hover, #saves-save-4:hover, #saves-save-5:hover, #saves-save-6:hover, #saves-save-7:hover, #saves-export:hover, #saves-import:hover,
.button-menu a:hover, 
.button-menu button:hover,
.button-menu div:hover,
.button-menu button:hover,
#menu-core li:hover,
#menu li a:hover,
#restart-ok:hover, #restart-cancel:hover, button:hover,
#ui-bar .exp-grid .grid-header:hover, #ui-bar .stats-grid .grid-header:hover, .ui-button:hover
{
    background-color: $Accent-Color;
    border-color: $Main-Color;
    color:$Light-Text;
    svg{
        fill:$Light-Text;
    }    
}

.ui-widget-header, .portlet-header {
    background-color: $Main-Color !important;
    color: $Dark-Text !important;
}

.inactiveButton {
    background-color: $Background-Color-Dark;
    border-color: #111;
}

.inactiveButton:hover {
    background-color: #111;
    border-color: #111;
}

.disabledAttack {
    $this: &;

    background-color: $Background-Color-Dark;
    border: #666;
    color: $Dark-Text;

    &:hover {
        background-color: $Background-Color-Dark;
        border-color: #666;
        color: $Dark-Text;
    }
}

#ui-dialog-close{
    background-color: $Accent-Color;
    color: $Dark-Text;
}

button:disabled{
    background-color: $Background-Color-Dark;
    color: $Light-Text;
}

table, th, td {
    border-color: $Light-Text;
}

th, div.grid-header{
    background-color: $Main-Color;
    color: $Dark-Text;
    filter: drop-shadow($Shadow-size $Shadow-size);
    margin-bottom: calc($Shadow-size * 2);
}

.consume-alert{
    color: $Warning-color;
}

input, select, textarea {
    color:#eee;
    background: #595858;
    border: #444;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: rgb(44, 43, 43);
}

.tab button.active {
    background-color: rgb(44, 43, 43);
}

#sortable-container, .chart-tab{
    border-color: #000;
}

.portlet{
    background-color: $Background-Color-Dark-transparent !important;
    border-color: transparent; //!important;
}

.portlet-header {
    background-color: #4e4c4c; //!important;
    border-color: transparent; //!important;
}

i.info-back{
    color: $Main-Color;
}

.button-menu svg{
    z-index: 5;
}

button{
    filter: drop-shadow($Shadow-size $Shadow-size);
    margin-bottom: $Shadow-size;
    margin-right: $Shadow-size;
}

.inactiveButton:hover{
    background-color: #3e3331;
    border-color: #111;
    color: $Dark-Text;
    filter: drop-shadow($Shadow-size $Shadow-size $Dark-Text)
}

//padding to make the drop-shadow fit
.trans {
    padding-top: 1em;
    padding-bottom: 1em;
}

  //padding to make the drop-shadow fit
.attribute-controls > button{
    margin: $Shadow-size;
}

button#ui-bar-toggle, button[disabled=""]{
    filter: unset;
}

.combat-info{
    background-color: $Background-Color-Dark-transparent;
}

.button-delete{
    background-color: red;
    border-color: rgb(168, 2, 2);
}

.button-delete:hover{
    background-color: rgb(168, 2, 2);
    border-color: red;
}

#ui-bar{
    border-right: 5px solid $Light-Text;
}

.skill-grid, .store-grid{
    background: $Background-Color-Dark-transparent;
}