@use "../partials/_variables.scss" as var;
.inactiveButton {
    cursor: default;
}

.disabledAttack {
    $this: &;

    border: 1px solid;
    cursor: default;

    &:hover {
        border: 1px solid;
        cursor: default;
    }
}