@use "partials/variables" as var;
.combat-message{
    left: 5%;
    display: flex;
    position: absolute;
    border: 1px solid;
    border-radius: 3px;
    width: 90%;
    justify-content: center;
    text-align: center;
    //z-index: -1;
    font-size: 1.5em;
}

.combat-message-top{
    top: calc(100% - 1px)
}

.combat-message-bottom{
    bottom: calc(100% - 1px)
}

.consume-alert{
    float: right;
    margin-left: -1em;
}

.combat-results{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin-left: 5%;
    flex-wrap: wrap;
}

.combat-results > div{
    min-width: 40%;
}

.combat-status-wrapper-enemy{
    display: flex;
    flex-direction: column;
    flex:2;
    margin: 0px 5px;
}

.combat-healthbar-enemy{
    flex:3;
    margin: 0px 5px
}

.combat-status-enemy{
    flex:2;
    margin: 0px 5px;
}

.combat-description-enemy{
    min-height: 20rem;
    display:flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.combat-actions-player{
    flex:2;
}

.combat-status-player{
    display: flex;
    flex-direction: row;
}

.combat-loot{
    text-align: center
}

#statPanel{
    display: flex;
    flex-direction: column;
    flex:3;
}

.combat-info{
    display: flex;
    flex-direction: row;
    border: white 1px solid;
    border-radius: 5px;
    justify-content: center;
    position: relative;
    background-color: #111;
    padding: 1rem;
}

#actionPanel, #lootPanel{
    display: none;
    flex:3;
}

#actionPanel{
    flex-direction: row;
}

#lootPanel{
    flex-direction: column;
}

.combat-actions-wrapper{
    display: flex;
    flex-direction: column;
    margin-right: 1rem;
    gap: 1rem;
}

.combat-actions-button{
    font-size: 25px;
}

.combat-actions-leave{
    background-color: red;
    border-color: rgb(168, 2, 2);
}

.combat-actions-leave:hover{
    background-color: rgb(168, 2, 2);
    border-color: red;
}


.combat-actions-attack{
    position: relative;
}

.combat-actions-panel-wrapper{
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr auto;
	grid-column-gap: 1rem;
	grid-row-gap: 1rem;

    @media (max-width: var.$tablet) {
        grid-template-columns: 1fr;        
    }
}

.combat-actions-panel-left, .combat-actions-panel-right{
    flex: 1;
    margin-right: 1rem;
}

.combat-attack-list{
    margin-bottom: 10px;
    flex-grow: 1;
}

.combat-fast-consume{
    align-self: center;
}
