@use "partials/variables" as var;
.ui-icon {
    background-image: url(images/ui-icons_ffffff_256x240.png) !important;
}

#sortable-container {
    border: 1px dotted;
    width: 450px;
    font-size: 10px; // base font size
    overflow: auto;
}

.chart-tab {
    border: 1px dotted;
    width: 10%;
    float: left;
    font-size: 2em;
}

.portlet-row {
    // border: 1px dotted white;
    overflow: auto;
    // padding-left: 1.5em;
    padding-top: 1.5em;
    width: 100%;
    min-height: 400px;
    float: left;
}

.portlet {
    width: 30%;
    float: left;
    margin: 0.3em 0.3em 0.3em 0.3em;
    padding: 0.3em;
    border-radius: 10px;
}

.portlet-header {
    padding: 0.2em 0.3em;
    margin-bottom: 0.5em;
    position: relative;
}

.portlet-header:hover {
    cursor: grab;
}

.portlet-toggle {
    position: absolute;
    top: 10px;
    right: 5px;
    float: right;
}

.portlet-toggle:hover {
    cursor: pointer;
}

.portlet-content {
    padding: 0.4em;
}

.portlet-body-header {
    padding: 0.4em 0.4em 0px 0.4em;
}

.portlet-body-content {
    padding: 0px 0.4em 0.4em 0.4em;
}