$bar-height: 25px;
%currentStatusBar-shared {
    top: 0px;
    position: absolute;
    z-index: 1;
    height: 100%;
    transition: all 1s;
}

.statusBar, .currentStatusText{
    max-height: $bar-height;
}

.statusBar {
    width: 100%;
    height: 100%;
    text-align: center;
    position: relative;
}

.currentHealthBar, .currentVisCapBar {
    @extend %currentStatusBar-shared;
    background: #ff0000;
}

.warningFlash {
    animation: healthFlash 1s alternate ease-in-out infinite;
}

.currentNotVisCapBar {
    @extend %currentStatusBar-shared;
    background-color: green;
}

.currentStatusText {
    position:relative;
    z-index: 2;
    font-weight: bold;
    color: white;
    border: 1px solid white;
}

@keyframes healthFlash {
    100% {
        background: transparent
    }
}

.expBar{
    background: #995b99;
    top: 0px;
    position: absolute;
    z-index: 1;
    height: 100%;
    transition: all 1s;
}

#menu-item-saves a::before,
#menu-item-restart a::before{
    float:left;
    top: 0.4em;
    position: relative;
}