/* Style the tab */
.tab {
  overflow: hidden;
  margin-left: 12.5em;
  margin-bottom: 1em;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  margin-right: 10px;
  background-color: inherit;
  float: left;
  border: none;
  border-radius: 10px;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

/* Create an active/current tablink class */
.tab button.active {
  border-bottom: transparent !important;
}

/* Style the tab content */
.tabContent {
  flex: 10;
  display: none;
  padding-left: 15px;
  // border: 1px solid #ccc;
  border-top: none;
}

.tabOpen {
  display: block;
}

.tabContent {
  animation: fadeEffect 1s;
  /* Fading effect takes 1 second */
}

/* Go from zero to full opacity */
@keyframes fadeEffect {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fullSizeTableButton { 
  height: 1px;
}